# The modules listed in the main.py file are:
 speech_recognition as sr
 webbrowser
 musiclibrary
 gtts import gTTS
 pygame
 os
 requests

# The modules listed for music_library are :   
 os
 pygame

# The modules listed for system_contol are:
# system_control.py
 os
 subprocess
 ctypes import POINTER, cast
 datetime
 pyautogui
 signal
 psutil

# The module listed for the translator are :- 
 speech_recognition as sr
 deep_translator import GoogleTranslator
pyttsx3


#The API key is outdates of the openrouter 
#Genrate the new api key and add it to the project and also 
#add the MIT Lisence so it will not outdated any more 
use other api key rather than openai in the open router 
   

